<h1>Tweet toy here we go!</h1>
<% social_share_button_tag("My Site") %>
<p>Welcome to the site woo</p>
<% tweet_button_full_url = "https://twitter.com/intent/tweet?text=" + @tweet_text %>
<a href=<%=tweet_button_full_url%> class="twitter-share-button" data-show-count="false"></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
